@import url("base.css");
.logact > table, td, th {
    border: 1px solid black;
  }
  
  .logact >  table {
    width: 100%;
    border-collapse: collapse;
  }

  .logact {
    padding: 10px;
  }

  th {
    background-color: coral;
  }