.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
  }
  .grid-item {
    margin: 0px;
    font-size: 30px;
    text-align: center;
    width: 400px;
  }

  .container {
    height: 100vh;
  }
  .card {
    min-height: 400px;
  }
  .card-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #a4ac86;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4ac86;
    border-right: 1px solid #582f0e;
  }

  .logo {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .image{
    object-fit:contain;
    width: 100%;
  }
  .form {
    border-radius: 15px;
    box-shadow: 0 0 50px #B6AD90;
    /* background-color: #936639; */
  }
  .head-form {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #B6AD90;
    border: 1px solid #A68A64;
  }
  .form-input {
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #A68A64;
  }
  .form-input input {
    border-radius: 15px;
    padding: 5px;
  }
  label { 
    font-weight: bold; 
    display: block; 
    width: 100px;
    float: left; 
    font-size: 1rem !important;
  }
  body {
    background-color: #656D4A;
  }
  .button-submit button {
    border-radius: 15px;
    background-color: #C2C5AA;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    
  }

  @media screen and (max-width: 900px) {
    .grid-container {
      grid-template-columns: auto;
    }
    label { 
      font-size: 16px !important;
    }
    .card-left {
      display: none;
    }
    .card-right {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: transparent;
      width: 100%;
    }
  }

  .subtext-login {
    font-size: 18px;
  }